# PyCity School Analysis Report

<h2>Analysis Summary:</h2>

* content

<h2>2 Conclusions/Comparisons:</h2>

* content

In [98]:
# Setup/Importing files
import pandas as pd
from pathlib import Path

school_data_import = Path("../Resources/schools_complete.csv")
student_data_import = Path("../Resources/students_complete.csv")

#Reading files/Storing into Pandas DF's
school_data = pd.read_csv(school_data_import)
student_data = pd.read_csv(student_data_import)

#Combine data into one dataset
school_data_combo = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_combo.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [139]:
#Find total number of schools in district
school_names_col = school_data_combo['school_name']
total_schools_count = school_names_col.nunique()
total_schools_named = school_names_col.unique()

total_schools_count

15

In [100]:
#Find total number of students in district
student_names_col = school_data_combo['Student ID']
total_students_count = student_names_col.nunique()

total_students_count

39170

In [101]:
#Find total budget of district
school_budget_col = school_data_combo['budget']
school_budgets = school_budget_col.unique()
total_budget = sum(school_budgets)

total_budget

24649428

In [102]:
#Find average math score of district
math_score_col = school_data_combo['math_score']
average_math_score = sum(math_score_col)/total_students_count

average_math_score

78.98537145774827

In [103]:
#Find average reading score of district
reading_score_col = school_data_combo['reading_score']
average_reading_score = sum(reading_score_col)/total_students_count

average_reading_score

81.87784018381414

In [104]:
#Find percent of students in district who passed math (score greater than or equal to 70)
math_pass_count = school_data_combo[(school_data_combo['math_score'] >= 70)].count()['Student ID']
math_pass_percent = math_pass_count / float(total_students_count) * 100

math_pass_percent

74.9808526933878

In [105]:
#Find percent of students in district who passed reading (score greater than or equal to 70)
reading_pass_count = school_data_combo[(school_data_combo['reading_score'] >= 70)].count()['Student ID']
reading_pass_percent = reading_pass_count / float(total_students_count) * 100

reading_pass_percent

85.80546336482001

In [106]:
#Find percent of students in district who passed both math and reading
combo_pass_count = school_data_combo[(school_data_combo['math_score'] >= 70) & (school_data_combo['reading_score'] >= 70)].count()['Student ID']
pass_rate = combo_pass_count / float(total_students_count) * 100

pass_rate

65.17232575950983

In [107]:
#Create snapshot of districts key metrics in a DF

#Place all data into a dictionary
district_data = {
                'Total Schools': [total_schools_count],
                'Total Students': [total_students_count],
                'Total Budget': [total_budget],
                'Average Math Score': [average_math_score],
                'Average Reading Score': [average_reading_score],
                '% Passing Math': [math_pass_percent],
                '% Passing Reading': [reading_pass_percent],
                '% Overall Passing': [pass_rate]
                }
#Format dictionary as a Data Frame
district_summary = pd.DataFrame(district_data)

#Format specific data types
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [165]:
#Find school type per school
school_types = school_data.set_index(['school_name'])['type']

school_types_df = school_types.reset_index()

abc_school_types_df = school_types_df.sort_values(by='school_name')

abc_school_types_df.set_index('school_name', inplace=True)

abc_school_types_df

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [166]:
#Find total students per school
student_per_school_count = school_data.set_index(['school_name'])['size']

student_per_school_count_df = student_per_school_count.reset_index()

abc_student_per_school_count_df = student_per_school_count_df.sort_values(by='school_name')

abc_student_per_school_count_df.set_index('school_name', inplace=True)

abc_student_per_school_count_df

                       size
school_name
Bailey High School     4976
Cabrera High School    1858
Figueroa High School   2949
Ford High School       2739
Griffin High School    1468
Hernandez High School  4635
Holden High School      427
Huang High School      2917
Johnson High School    4761
Pena High School        962
Rodriguez High School  3999
Shelton High School    1761
Thomas High School     1635
Wilson High School     2283
Wright High School     1800

In [167]:
#Find total school budget
budget_per_school = school_data.set_index(['school_name'])['budget']

budget_per_school_df = budget_per_school.reset_index()

abc_budget_per_school_df = budget_per_school_df.sort_values(by='school_name')

abc_budget_per_school_df.set_index('school_name', inplace=True)

abc_budget_per_school_df

                        budget
school_name
Bailey High School     3124928
Cabrera High School    1081356
Figueroa High School   1884411
Ford High School       1763916
Griffin High School     917500
Hernandez High School  3022020
Holden High School      248087
Huang High School      1910635
Johnson High School    3094650
Pena High School        585858
Rodriguez High School  2547363
Shelton High School    1056600
Thomas High School     1043130
Wilson High School     1319574
Wright High School     1049400

In [168]:
#Find total budget per student (per capita) per school
budget_per_student = budget_per_school / student_per_school_count

budget_per_student_df = budget_per_student.reset_index()

abc_budget_per_student_df = budget_per_student_df.sort_values(by='school_name')

abc_budget_per_student_df.set_index('school_name', inplace=True)

abc_budget_per_student_df

                           0
school_name
Bailey High School     628.0
Cabrera High School    582.0
Figueroa High School   639.0
Ford High School       644.0
Griffin High School    625.0
Hernandez High School  652.0
Holden High School     581.0
Huang High School      655.0
Johnson High School    650.0
Pena High School       609.0
Rodriguez High School  637.0
Shelton High School    600.0
Thomas High School     638.0
Wilson High School     578.0
Wright High School     583.0

In [169]:
#Find number of students per school with passing math score
students_passing_math_perschool = school_data_combo[school_data_combo['math_score'] >= 70].groupby('school_name').count()['Student ID']

students_passing_math_perschool_df = students_passing_math_perschool.reset_index()

students_passing_math_perschool_df.set_index('school_name', inplace=True)

students_passing_math_perschool_df

                       Student ID
school_name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [170]:
#Find number of students per school with passing reading score
students_passing_reading_perschool = school_data_combo[school_data_combo['reading_score'] >= 70].groupby('school_name').count()['Student ID']

students_passing_reading_perschool_df = students_passing_reading_perschool.reset_index()

students_passing_reading_perschool_df.set_index('school_name', inplace=True)

students_passing_reading_perschool_df

                       Student ID
school_name
Bailey High School           4077
Cabrera High School          1803
Figueroa High School         2381
Ford High School             2172
Griffin High School          1426
Hernandez High School        3748
Holden High School            411
Huang High School            2372
Johnson High School          3867
Pena High School              923
Rodriguez High School        3208
Shelton High School          1688
Thomas High School           1591
Wilson High School           2204
Wright High School           1739

In [171]:
#Find average test scores per school (math)
avg_mathscore_perschool = school_data_combo.groupby('school_name')['math_score'].mean()

avg_mathscore_perschool_df = avg_mathscore_perschool.reset_index()

avg_mathscore_perschool_df.set_index('school_name', inplace=True)

avg_mathscore_perschool_df

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [172]:
#Find average test scores per school (reading)
avg_readingscore_perschool = school_data_combo.groupby('school_name')['reading_score'].mean()

avg_readingscore_perschool_df = avg_readingscore_perschool.reset_index()

avg_readingscore_perschool_df.set_index('school_name', inplace=True)

avg_readingscore_perschool_df

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [154]:
#Find number of students per school who passed both math and reading
students_passing_mathandreading = school_data_combo[(school_data_combo['reading_score'] >= 70) & (school_data_combo['math_score'] >= 70)]
spmar_byschool = students_passing_mathandreading.groupby(['school_name']).size()

In [173]:
#Find passing rates
percent_perschool_passing_math = students_passing_math_perschool / student_per_school_count * 100
percent_perschool_passing_reading = students_passing_reading_perschool / student_per_school_count * 100
overall_percent_passing = spmar_byschool / student_per_school_count * 100

percent_perschool_passing_math_df = percent_perschool_passing_math.reset_index()
percent_perschool_passing_reading_df = percent_perschool_passing_reading.reset_index()
overall_percent_passing_df = overall_percent_passing.reset_index()

percent_perschool_passing_math_df.set_index('school_name', inplace=True)
percent_perschool_passing_reading_df.set_index('school_name', inplace=True)
overall_percent_passing_df.set_index('school_name', inplace=True)

overall_percent_passing_df

                               0
school_name
Bailey High School     54.642283
Cabrera High School    91.334769
Figueroa High School   53.204476
Ford High School       54.289887
Griffin High School    90.599455
Hernandez High School  53.527508
Holden High School     89.227166
Huang High School      53.513884
Johnson High School    53.539172
Pena High School       90.540541
Rodriguez High School  52.988247
Shelton High School    89.892107
Thomas High School     90.948012
Wilson High School     90.582567
Wright High School     90.333333

In [175]:
#Create DataFrame for school data summary

#data_per_school = {
                #'School Name': [total_schools_named],
                #'School Type': [school_types],
                #'Total Students': [student_per_school_count],
                #'Total School Budget': [budget_per_school],
                #'Per Student Budget': [budget_per_student],
                #'Average Math Score': [avg_mathscore_perschool],
                #'Average Reading Score': [avg_readingscore_perschool],
                #'% Passing Math': [percent_perschool_passing_math],
                #'% Passing Reading': [percent_perschool_passing_reading],
                #'% Overall Passing': [overall_percent_passing]
                #}
#school_summary = pd.DataFrame(data_per_school)

#school_summary.set_index('School Name', inplace=True)

#Format specific data
#data_per_school['Total School Budget'] = data_per_school['Total School Budget'].map("${:,.2f}".format)
#data_per_school['Per Student Budget'] = data_per_school['Per Student Budget'].map("${:,.2f}".format)



final_df = pd.concat([abc_school_types_df, abc_student_per_school_count_df, abc_budget_per_school_df, abc_budget_per_student_df, 
                      avg_mathscore_perschool_df, avg_readingscore_perschool_df, percent_perschool_passing_math_df, 
                     percent_perschool_passing_reading_df, overall_percent_passing_df],axis = 1)

final_df.reset_index(inplace=True)

final_df.set_index('school_name', inplace=True)

final_df.index.name = None

final_df

,type,size,budget,0,math_score,reading_score,0,0,0
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333